* /*  { 
    padding: 0;
    margin: 0;
     
} */

/* body {
    background-image: url(../imagenes/sala.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montserrat;
 
 

a .logo_principal {
    /* para achicar la foto*/
    /* height: 47px; */
   /*  margin-right: 0px;
  
 

.header_mio {
    /* encabezado*/
 /*    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: brown;
    padding: 10px;
  
 

.header_mio .logo a {
    /* esto es para centrar tanto el logo como el h1*/
    /* display: flex; */
    /* align-items: center;  
 

a {{
    /*modificando todas las url */
    /* text-decoration: none;
    color: rgb(253, 249, 249);
    font-family: Montserrat;
    line-height: 2;
    text-align: center;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 600;
    border-color: black;
    border-radius: 10px;
  
 
ul li :hover  
     darle color a la url si el mause lo toca*/
    /* color: yellow; 
} 

ul li {
    /* que los ul esten al lado no en orden*/
   /*  text-transform: uppercase;
    display: inline-block;
    margin-top: 15px; */
 
h1  
    /*decorando el H1 */
   /*  width: 300px;
    background-color: rgb(255, 255, 255);
    color: brown;
    font-family: Montserrat;
    font-size: 39px;
    font-weight: 700;
    margin: 0;  
}  

.login {
    /*estilos en el boton de LOGIN*/
  /*   font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    color: goldenrod;
      */
 

/*footer*/
/* footer {
    font-family: Montserrat;
    background-color: brown;
    padding: 80px 0;
    color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
 */
/* .contenido_footer {

    display: flex;
    justify-content: space-between;
    align-items: center;

} */

/* .h3_footer {
    padding: 15px;
    display: flex;
    font-family: Montserrat;
    background-position: 0 20px;
}
 */
/* .footer_p2 {
    display: flex;
    text-align: center center;
    font-size: medium;
    font-weight: 500;
    display: flex;
} */

.footer_url ul :hover {
    color: goldenrod;
}

/* .iconos_sociales li a img {

    height: 25px;
    padding: 0 10px;
    display: flex;
    align-content: flex-start;
    margin-bottom: 0;
} */

/* ahora vamos a dar estilo a cada ventana (html)*/
/*EMPEZAMOS POR EL INDEX*/

/* .h2_index {
    color: white;
    background-color: goldenrod;
    width: 300px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    margin: 12px;
} */

/* .prox_estrenos {
    padding: 10px;
    margin-right: 9px;
} */

/*vamos a darle estilos a cartelera.index*/
/* ul li a.under_cartelera {
    color: rgb(49, 49, 49);
} */

/* .cartelera_opciones {
    padding: 20px;
    font-family: Montserrat;
    justify-items: center;
}
 */
/*creando un grid para la cartelera*/
/*  .imagenes_cartelera {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center; 
 }

  */

/* .imagenes_cartelera div h4 {
    text-align: center;
    background-color: white;
    
    
    
    width: 200px;
    justify-content: center;
} */

/*vamos a darle estilos a trailers.index*/

/* ul li a.under_trailer {
    color: rgb(49, 49, 49);
}
 */
/* .peliculas {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
} */

/* iframe {
    margin-right: 15px;
} */

/* .peliculas_texto {
    width: 400px;
    color: white;
    font-family: Montserrat;
}

.peliculas_texto h2 {
    font-size: 35px;
    font: 600;
    background-color: goldenrod;
} */

/* .peliculas_texto p {
    font-size: 17px;
    font-weight: 400;
    background-color: brown;

}
 */
/*vamos a darle estilos a candy.index*/
/* ul li a.under_candy {
    color: rgb(49, 49, 49);
}
 */
/* .promo {
    margin: 10px;
}
 */
/* .promo h2 {
    font-family: Montserrat;
    font-size: 35px;
    color: white;
    background-color: goldenrod;
    width: 200px;
}

.combos_promo img {
    height: 240px;

}

.candy {
    margin: 10px;
}

.candy_promos img {
    height: 240px;

}

.candy h2 {
    font-family: Montserrat;
    font-size: 35px;
    color: white;
    background-color: goldenrod;
    width: 200px;
} */

/*vamos a darle estilos a conocenos.index*/
/* ul li a.under_conocenos {
    color: rgb(49, 49, 49);
}

.conocenos {
    text-align: center;
    color: white;
    font-family: Montserrat;
    padding: 20px;
}

.conocenos h2 {
    font-size: xx-large;
    font-weight: 800;
    background-color: goldenrod;
}

.conocenos p {
    font-size: x-large;
    font-weight: 500;
    background-color: brown;
}
 */
/* .mapas {
    margin: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}

.titulo_maps {
    text-align: center;
    font-family: Montserrat;
    color: white;
    background-color: goldenrod;
    font-size: xx-large;
    font-weight: 800;

}

.beneficios img {
    height: 180px;
}

.beneficios {
    margin: 10px;
}

.titulo_beneficios {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: 800;
    background-color: brown;
}

.fixed-top {
    display: none;
}
 */
/*el responsive una media que es una tablet*/
@media screen and (max-width: 1024px) {

   /*  /* media para  el index*/
    /* nav {
        margin-top: 20px;
    }

    nav ul li {
        display: inline
    }

    .portada_index img {
        height: 240px;
        padding: 10px;

    } */  

    /*mpdificando el header para que entre en una tablet*/
   /*  .h2_index {
        padding: 10px;
        margin-left: 28px;
        margin-bottom: 0;
        display: inline;
    }

    .prox_estrenos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
    }

    .prox_estrenos img {
        height: 370px;
    }

    a .login {
        margin-right: 20px;
    }

    a {
        text-align: center;
        padding-right: 15px;
    }

    h1 {
        width: 280px;

    } */

    /*estilos para el footer*/
   /*  .contenido_footer {
        display: flex;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .iconos_sociales h3 {
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }

    .iconos_sociales .url img {
        height: 30px;
        text-align: center;
    }

    .iconos_sociales p {
        display: flex;
        justify-content: center;
    }

    .footer_url ul li {
        display: flex;
        display: block;
        text-align: center;
    } */

    /*media para lA CARTELERA*/

    /* .cartelera_opciones {
      
        
       justify-items: center;
    }
 */
    /* .imagenes_cartelera {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center; 
     } */

    /* .imagenes_cartelera div h4 {
        text-align: center;
        background-color: white;
       justify-content: center;
        width: 200px;
    } */

    /*formato media para trialers*/
    /* .peliculas {
        display: block;
        margin-left: 140px;
    } */

    /* .peliculas_texto {
        margin-bottom: 40px;
        text-align: start;
    } */

    /* .peliculas_texto h2 {
        width: 560px;
    } */

    /* .peliculas_texto p {
        width: 560px;
    } */

    /*media para candy*/

    /* .promo {
        margin-left: 10%;
    } */

    /* .promo h2 {
        width: 550px;
        padding: 10px;
        margin: 20px;
    } */

   /*  .combos_promo img {
        height: 350px;

    } */

    /* .candy {
        margin-left: 10%;
    } */

    /* .candy h2 {
        width: 550px;
        padding: 10px;
        margin: 20px;
    } */

    /* .candy_promos img {
        height: 350px;
    } */

    /*media para conocenos*/
   /*  .conocenos {
        margin: 10px;
    } */

    /* .mapas {
        display: flex;
        display: block;
        margin-left: 120px;

    } */

    /* .mapas iframe {
        margin-bottom: 15px;
        margin-top: 10px;
    } */

    /* .beneficios {
        margin-left: 10%;
    }
 */
    /* .fixed-top {
        display: none;
    } */
}

/*media para un telefono*/
@media screen and (max-width: 768px) {
    /*poner el bootstrap y sacar el header mio*/

    /* header .logo {
        display: none;
    } */

    /* header .url_index {
        display: none;

    } */

    /* .header_mio {
        display: none;
    }
 */
    /* .header_mio nav {
        display: none;

    } */

    /* .header_mio a button {
        display: none;

    } */

    /*darle estilos al bootstrap*/
    /* .fixed-top */  
        /*para que sea estatico*/
       /*  display: flex;
        position: static;
 */
     

    /* .container-fluid */  
        /*poner el fonde de color bronw*/
        /* background-color: brown;
        padding-left: 0 */
     

   /*  .container-fluid .navbar-brand {
        margin: 0%;
        /*que el bootstrap quede arriba de todo para no dejar espacios*/
     

    /* .navbar-brand */  
        /*dondo forma al LOGIN*/
        /* color: goldenrod;
        background-color: #F8F9FA;
        border-radius: 0;
        padding: 15px; */
    

   /*  .navbar {
        margin-top: 0%;
    } */

    /* button.navbar-toggler {
        background-color: #F8F9FA;
    } */

    /* span.navbar-toggler-icon {
        color: rgb(192, 66, 66);
    } */

   /*  .offcanvas-header h5 {
        color: rgb(192, 66, 66);
    } */

    /* .offcanvas-body {
        background-color: brown;
    } */

    /* .offcanvas-body ul a {
        color: white;
    } */



    /*index*/
    /* .carousel.slide {
        margin-bottom: 20px;
    } */

   /*  .contenido_footer {
        display: flex;
        display: block;
    } */

    /* .iconos_sociales h3 {
        margin-left: auto;
        margin-right: auto;
    } */

    /* .iconos_sociales .url img {
        height: 40px;
        margin-right: 20px;
    } */

    /* .footer_url ul li {
        margin-right: 20px;
        text-align: center;
    } */
/*dandole estilo a cartelera.index*/


    /* .imagenes_cartelera {
        
        display: block;
        justify-items: center;
    } */
    /* .imagenes_cartelera div h4 {
        justify-content: center;
    } */
    /*estilo a trilers*/
    /* .peliculas {
        display: block;
        justify-items: center;
        margin: 10px;
    } */

    /* .peliculas iframe {
        width: 320px;
    } */

    /* .peliculas_texto h2 {
        width: 320px;
        justify-items: center;
        margin-left: 30px;
    }
 */
   /*  .peliculas_texto p {
        width: 320px;
        margin-left: 30px;
    } */
/*dando estilo a candy.index*/
    /* .promo {
        display: block;
        justify-content: center;
        margin: 15px;
    } */

    /* .promo h2 {
        width: 320px;
        margin-left: 0;
        text-align: center;
    } */

    /* .promo img {
        height: 180px;
    } */

   /*  .candy {
        display: block;
        justify-content: center;
        margin: 15px;
    } */

    /* .candy h2 {
        width: 320px;
        margin-left: 0;
        text-align: center;
    }
 */
   /*  .candy img {
        height: 180px;
    } */
/*dando estilo a conocenos.index*/
   /*  .mapas {
        margin: 5px;
    } */

   /*  .mapas iframe {
        width: 320px;
        margin: 15px;
    } */
    /* .beneficios {
        margin-left: 20px;
    } */

    /* .beneficios img {
        margin-bottom: 25px;
    } */
}