@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/*vamos a darle estilos a cartelera.index*/
ul li a.under_cartelera {
  color: rgb(49, 49, 49);
}

.cartelera_opciones {
  padding: 20px;
  font-family: Montserrat;
  justify-items: center;
}

.imagenes_cartelera {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

h4 {
  text-align: center;
  color: white;
  width: 200px;
  font-size: large;
  font-weight: 800;
  margin-top: 5px;
  justify-content: center;
}

/*vamos a darle estilos a trailers.index*/
ul li a.under_trailer {
  color: rgb(49, 49, 49);
}

main .peliculas {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}
main .peliculas iframe {
  margin-right: 15px;
}
main .peliculas .peliculas_texto {
  width: 400px;
  color: white;
  font-family: Montserrat;
}
main .peliculas .peliculas_texto h2 {
  font-size: 35px;
  font: 600;
  background-color: goldenrod;
}
main .peliculas .peliculas_texto p {
  font-size: 17px;
  font-weight: 400;
  background-color: brown;
}

ul li a.under_candy {
  color: rgb(49, 49, 49);
}

/*vamos a darle estilos a candy.index*/
main .promo h2 {
  font-family: Montserrat;
  font-size: xx-large;
  font-weight: 800;
  color: gold;
  text-align: center;
  margin-top: 20px;
}
main .promo .combos_promo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .promo .combos_promo img {
  height: 200px;
  margin-bottom: 10px;
}
main .candy .candy_promos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-left: 9%;
}
main .candy .candy_promos img {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main .candy h2 {
  font-family: Montserrat;
  font-size: xx-large;
  font-weight: 800;
  color: gold;
  text-align: center;
}

/*vamos a darle estilos a conocenos.index*/
ul li a.under_conocenos {
  color: rgb(49, 49, 49);
}

main .conocenos {
  text-align: center;
  color: white;
  font-family: Montserrat;
  padding: 20px;
}
main .conocenos h2 {
  font-size: xx-large;
  font-weight: 800;
  color: gold;
}
main .conocenos p {
  font-size: x-large;
  font-weight: 500;
  background-color: brown;
}
main .mapas {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .beneficios {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .beneficios img {
  height: 170px;
}

.titulo_maps, .titulo_beneficios {
  text-align: center;
  font-family: Montserrat;
  font-size: xx-large;
  font-weight: 800;
}

.titulo_maps, .titulo_beneficios {
  color: gold;
}

.titulo_beneficios {
  background-color: brown;
  color: white;
}

main.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main.login .formulario_completo {
  flex: 1;
  background-color: brown;
  font-family: Montserrat;
  box-shadow: 10px 14px 18px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.login .formulario_completo .logo_login :hover {
  color: rgba(189, 199, 46, 0.521);
}
main.login .formulario_completo .logo_login {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 20px;
}
main.login .formulario_completo .logo_login img {
  height: auto;
  width: 60px;
}
main.login .formulario_completo .opciones label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
main.login .formulario_completo .check_label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: goldenrod;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}
main.login .formulario_completo button {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
main.login .formulario_completo button:hover {
  background-color: rgba(189, 199, 46, 0.521);
  /* Cambio de color al pasar el ratón */
}
main.login section {
  flex: 1;
  background-color: rgb(218, 191, 75);
  font-family: Montserrat;
  box-shadow: 10px 14px 18px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}
main.login section .promociones_login {
  display: grid;
}
main.login section .promociones_login img {
  width: 100%;
  /* Hace que las imágenes ocupen todo el ancho disponible */
  height: auto;
  /* Mantiene la proporción de las imágenes */
}
main.login section .promociones_login .h3_login {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 10px;
}
main.login section .promociones_login .img1_login {
  grid-column: 1/2;
  grid-row: 2/3;
}
main.login section .promociones_login .img2_login {
  grid-column: 1/2;
  grid-row: 3/4;
}
main.login section .promociones_login .img3_login {
  grid-column: 2/3;
  grid-row: 2/3;
}
main.login section .promociones_login .img4_login {
  grid-column: 2/3;
  grid-row: 3/4;
}

body {
  background: radial-gradient(rgb(2, 2, 2), transparent), url(../imagenes/sala.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Montserrat;
}

a {
  /*modificando todas las url */
  text-decoration: none;
  color: rgb(253, 249, 249);
  font-family: Montserrat;
  line-height: 2;
  text-align: center;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 600;
  border-color: black;
  border-radius: 10px;
}

.header_mio .logo {
  /* esto es para centrar tanto el logo como el h1*/
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.header_mio .logo a {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.header_mio .logo a img {
  /* para achicar la foto*/
  height: 47px;
  margin-right: 0px;
}
.header_mio .logo a h1 {
  /*decorando el H1 */
  width: 300px;
  background-color: rgb(255, 255, 255);
  color: brown;
  font-family: Montserrat;
  font-size: 39px;
  font-weight: 700;
  margin: 0;
}
.header_mio a .login {
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

header .header_mio {
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: brown;
  padding: 10px;
}
header .header_mio ul li :hover {
  /*darle color a la url si el mause lo toca*/
  color: rgb(218, 191, 75);
}

ul li {
  /* que los ul esten al lado no en orden*/
  text-transform: uppercase;
  display: inline-block;
  margin-top: 15px;
}

main .h2_index {
  color: white;
  background-color: goldenrod;
  width: 300px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  margin: 12px;
  margin-left: 50px;
}
main .prox_estrenos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

footer {
  font-family: Montserrat;
  background-color: brown;
  padding: 80px 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
footer .contenido_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .contenido_footer .iconos_sociales li a img {
  height: 25px;
  padding: 0 10px;
  display: flex;
  align-content: flex-start;
  margin-bottom: 0;
}
footer .contenido_footer .iconos_sociales h3 {
  padding: 10px;
  font-family: Montserrat;
  background-position: 0 20px;
}
footer .contenido_footer .iconos_sociales p {
  text-align: center center;
  font-size: medium;
  font-weight: 500;
}

.footer_url ul :hover {
  color: yellow;
}

@media screen and (max-width: 1024px) {
  /* media para  el index*/
  /*mpdificando el header para que entre en una tablet*/
  .header_mio {
    margin-bottom: 10px;
  }
  .header_mio h1 {
    width: 280px;
  }
  .header_mio nav {
    margin-top: 20px;
  }
  .header_mio nav ul li {
    display: inline;
  }
  .header_mio nav ul li a {
    text-align: center;
    padding-right: 15px;
  }
  .header_mio a .login {
    margin-right: 20px;
  }
  main .carousel {
    margin-bottom: 25px;
  }
  main .h2_index {
    padding: 10px;
    margin-left: 30%;
    display: inline;
  }
  main .prox_estrenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
  }
  main .prox_estrenos img {
    height: 370px;
    margin: 15px;
  }
  /*estilos para el footer*/
  .contenido_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contenido_footer .iconos_sociales h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    margin-left: 40px;
  }
  .contenido_footer .iconos_sociales .url img {
    height: 30px;
    text-align: center;
  }
  .contenido_footer .iconos_sociales p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
  }
  .contenido_footer .footer_url ul li {
    display: flex;
    display: block;
    text-align: center;
  }
  /* media para el login*/
  main.login {
    display: flex;
    display: block;
  }
  .formulario_completo {
    margin-bottom: 20px;
  }
  section {
    padding-bottom: 20px;
  }
  /* media para lA CARTELERA*/
  .cartelera_opciones {
    justify-items: center;
  }
  .imagenes_cartelera {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
  .imagenes_cartelera h4 {
    text-align: center;
    justify-content: center;
    width: 200px;
  }
  .imagenes_cartelera img {
    height: 300px;
  }
  /*formato media para trialers*/
  main .peliculas {
    display: block;
    margin-left: 140px;
  }
  main .peliculas .peliculas_texto {
    margin-bottom: 40px;
    text-align: start;
  }
  main .peliculas .peliculas_texto h2 {
    width: 560px;
  }
  main .peliculas .peliculas_texto p {
    width: 560px;
  }
  /*media para candy*/
  main .promo .combos_promo {
    flex-direction: column;
  }
  main .promo .combos_promo img {
    height: 250px;
  }
  main .promo h2 {
    flex-direction: column;
  }
  main .candy .candy_promos {
    flex-direction: column;
    margin: 0%;
  }
  main .candy .candy_promos img {
    height: 250px;
  }
  main .candy h2 {
    flex-direction: column;
  }
  /*media para conocenos*/
  main .conocenos {
    flex-direction: column;
  }
  main .mapas {
    flex-direction: column;
  }
  main .mapas iframe {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  main .beneficios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .beneficios img {
    height: 200px;
  }
}
/*media para un telefono*/
@media screen and (max-width: 768px) {
  header .header_mio {
    display: none;
  }
  header .header_mio .logo {
    display: none;
  }
  header .header_mio nav {
    display: none;
  }
  header .header_mio nav .url_index {
    display: none;
  }
  header .header_mio a button {
    display: none;
  }
  /*darle estilos al bootstrap*/
  .fixed-top {
    /*para que sea estatico*/
    display: flex;
    position: static;
  }
  .fixed-top .container-fluid {
    /*poner el fonde de color bronw*/
    background-color: brown;
    padding-left: 0;
  }
  .fixed-top .container-fluid .navbar-brand {
    margin: 0%;
    color: goldenrod;
    background-color: #F8F9FA;
    border-radius: 0;
    padding: 15px;
    /*que el bootstrap quede arriba de todo para no dejar espacios*/
  }
  .fixed-top .container-fluid .navbar-toggler {
    background-color: #F8F9FA;
  }
  .fixed-top .container-fluid .navbar-toggler .navbar-toggler-icon {
    color: rgb(192, 66, 66);
  }
  .fixed-top .container-fluid .offcanvas-header h5 {
    color: rgb(192, 66, 66);
  }
  .fixed-top .container-fluid .offcanvas-body {
    background-color: brown;
  }
  .fixed-top .container-fluid .offcanvas-body ul a {
    color: white;
  }
  /*index*/
  main .carousel {
    margin-bottom: 20px;
    height: 210px;
  }
  main .carousel img {
    height: 190px;
  }
  main .h2_index {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
  }
  footer .contenido_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .contenido_footer .iconos_sociales h3 {
    margin-left: auto;
    margin-right: auto;
  }
  footer .contenido_footer .iconos_sociales .url img {
    height: 40px;
    margin-right: 20px;
  }
  footer .contenido_footer .footer_url ul li {
    margin-right: 30px;
    text-align: center;
    justify-content: center;
  }
  /* media para el login*/
  main.login .formulario_completo {
    border-radius: 0%;
  }
  main.login section {
    border-radius: 0%;
  }
  main.login section .promociones_login {
    display: block;
    margin-bottom: 10px;
  }
  main.login section img {
    margin-bottom: 10px;
  }
  /*dandole estilo a cartelera.index*/
  .imagenes_cartelera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagenes_cartelera h4 {
    justify-content: center;
  }
  /*estilo a trilers*/
  main .peliculas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }
  main .peliculas iframe {
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
  }
  main .peliculas .peliculas_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .peliculas .peliculas_texto h2 {
    width: 320px;
    margin-top: 10px;
    margin-bottom: 0%;
  }
  main .peliculas .peliculas_texto p {
    width: 320px;
  }
  /*dando estilo a candy.index*/
  main .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  main .promo h2 {
    width: 320px;
    text-align: center;
  }
  main .promo img {
    max-width: 100%;
    height: 280px;
    margin: 0%;
  }
  main .candy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  main .candy h2 {
    width: 320px;
    text-align: center;
  }
  main .candy img {
    max-width: 100%;
    height: 280px;
    margin: 0%;
  }
  /*dando estilo a conocenos.index*/
  main .mapas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 5px; */
  }
  main .mapas iframe {
    max-width: 100%;
    height: 300px;
  }
  main .beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  main .beneficios img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
