$fuente: Montserrat;
$bcolor: brown;
$bcolor_subtitulo: gold;
$color_letra: white;

/*vamos a darle estilos a conocenos.index*/
ul li a.under_conocenos {
    color: rgb(49, 49, 49);
}

main {
    .conocenos {
        text-align: center;
        color: $color_letra;
        font-family: $fuente;
        padding: 20px;

        h2 {
            font-size: xx-large;
            font-weight: 800;
            color: $bcolor_subtitulo;
        }

        p {
            font-size: x-large;
            font-weight: 500;
            background-color: $bcolor;
        }

    }

    .mapas {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .beneficios {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            height: 170px;
            transition: transform 0.3s ease-in-out;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        img:hover {
            transform: scale(1.2);
        }

    }


}

.titulo_maps {
    text-align: center;
    font-family: $fuente;
    font-size: xx-large;
    font-weight: 800;
}

.titulo_maps {
    @extend .titulo_maps;
    color: $bcolor_subtitulo;
}

.titulo_beneficios {
    @extend .titulo_maps;
    background-color: $bcolor;
    color: $color_letra;
}