* {
    padding: 0;
    margin: 0;
}

$font-famyli: Montserrat;
.body{
    
        background-image: url(../imagenes/sala.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        font-family: $font-famyli;
}